input {
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgb(198, 197, 197);
  border: none;
  margin: 10px;
}
.add {
  padding: 5px 18px;
  border: 0;
  border-radius: 4px;
  margin-right: 5px;
  background-color: green;
  color: #fff;
  font-size: 12px;
}
.delete {
  padding: 5px 18px;
  border: 0;
  border-radius: 4px;
  margin-right: 5px;
  background-color: red;
  color: #fff;
  font-size: 12px;
}
.update {
  padding: 5px 18px;
  border: 0;
  border-radius: 4px;
  margin-right: 5px;
  background-color: blue;
  color: #fff;
  font-size: 12px;
}
