.input-text,
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.input-text {
  background-color: #ffffff;
  color: #000;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.mb-5 {
  margin: 20px;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-form {
  border-radius: 5px;
  background-color: #2d9c9c;
  text-align: left;
  width: 60%;
  margin-bottom: 50px;
  padding: 20px;
  text-align: left;
  color: #fff;
  box-shadow: 0px 0px 9px -1px #c5c3c3;
}
.btn {
  text-align: center;
}

.heading h3 {
  text-align: center;
}
textarea {
  height: 200px;
}
.submit-btn {
  background-color: #000;
  border: none;
  padding: 10px 20px;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
}
iframe {
  height: 600px;
}
