.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.img {
  /* margin-top: 5px; */
}
h1 {
  text-align: center;
}
.img img {
  border: none;
  opacity: 0.5;
}
.img img:hover {
  border: 2px solid red;
  opacity: 1;
}
